  
<div class="row">
  
    <div class="col-xs-9 col-xs-offset-1">
        <h4 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        </h4>

        <h3 class="recommended-items" style="font-family: HiraMinPro-W6; color: #000000;">オススメ商品</h3>

        <!-- 商品を4つ表示するようにする -->
        <div class="col-xs-9 col-xs-offset-1">
            <div class="item--card-content">
                
            <div>
        </div>

        
    </div>
  
</div>